@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
}

.background {
  background-color: #1a1f2c;
  text-align: center;
  overflow-x: hidden;
}

.image {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid;
  border-radius: 50%;
  border-color: #fd6a6a;
}

.introduction {
  text-align: center;
  margin: 2%;
}

.name {
  color: #e0e0e0;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
}
.sub-heading {
  color: #fd6a6a;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0.5%;
}

.summary {
  margin-top: 0%;
}

.headings {
  color: #e0e0e0;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  margin-top: 5%;
}

.paragraph {
  color: #e0e0e0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 2%;
}

.list {
  color: #e0e0e0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  list-style-type: none;
  margin-top: 2%;
}

.sublist {
  color: #fd6a6a;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.list-item {
  margin: 1%;
}

footer {
  background-color: #fd6a6a;
}

.date-color {
  font-weight: normal;
  color: #fd6a6a;
}

.btn-toolbar {
  display: inline;
  flex-wrap: nowrap;
}
